.topFixedBanner{
    background-image: url(../image/banner.jpg);
    min-height: 550px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.topBannerOverlay{
    position: absolute;
    min-height: 550px;
    width: 100%;
    background: rgb(0, 0, 0, 0.7);
}

.topContent{
    margin-top: 15em;
}

.topTitle{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 48px;
}

.topSubTitle{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 22px;
}

.ecommerceIcon{
    height: 80px;
    width: 80px;
}

.designIcon{
    height: 80px;
    width: 80px;
}

.webIcon{
    height: 80px;
    width: 80px;
}

.serviceCard{
    margin: 5px 5px 5px 5px;
    height: 22rem;
    padding: 60px 30px 60px 30px;
    box-shadow: 0 0 8px 0 rgb(4, 55, 105, 0.2);
}

.serviceCard:hover{
    margin: 5px 5px 5px 5px;
    height: 22rem;
    padding: 60px 30px 60px 30px;
    box-shadow: 0 0 16px 0 rgb(4, 55, 105, 0.2);
}

.serviceName{
    color: #051b35;
    margin-top: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.serviceDescription{
    color: #505050;
    margin-top: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.serviceMainTitle{
    color: #051b35;
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700px;
    font-size: 28px;
}

.bottom{
    background: #051b35 none repeat scroll 0 0;
    height: 3px;
    width: 85px;
    margin: -1.9rem auto 0;
    margin-bottom: 3rem;
}

.navTitle{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff !important;
    font-weight: 700;
    font-size: 30px;
}

.navTitleScroll{
    font-family: 'Montserrat', sans-serif;
    color: #051b35 !important;
    font-weight: 700;
    font-size: 30px;
}

.navBackground{
    -webkit-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
    background-color: rgb(00, 00, 00, 0.0) !important;
}

.navBackgroundScroll{
    -webkit-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
    background-color: #ffffff;
}

.navItem{
    text-decoration: none !important;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff !important;
    font-weight: 700;
    font-size: 16px;
}

.navItemScroll{
    text-decoration: none !important;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff !important;
    font-weight: 700;
    font-size: 16px;
}

.summaryBanner{
    background-image: url(../image/summary.jpg);
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.summaryBannerOverlay{
    position: absolute;
    min-height: 400px;
    width: 100%;
    background: rgb(27, 31, 92, 0.7);
}

.countNumber{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.countTitle{
    color: #ffd900;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 22px;
}

.countSection{
    margin-top: 20%;
}

.cardTitle{
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 15px;
}

.cardSubTitle{
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.workCard{
    margin-top: 25%;
    padding: 10px 10px 10px 10px;
    border-radius: 3px;
}

.iconBullent{
    color: #051b35;
    font-size: 16px;
}

.iconProject{
    color: #ffffff;
    font-size: 40px;
}

.projectCard{
    background: #ffffff;
    width: 22em;
    border-radius: 0.6em;
    margin: 1em;
    cursor: pointer;
    box-shadow: 0 13px 25px -5px;
    transition: all ease 200ms;
}

.projectCard:hover{
    transform: scale(1.03);
    box-shadow: 0 13px 30px -5px;
}

.courseImg{
    width: 100%;
}

.courseViewMore{
    color: #051b35;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
}

.videoCard{
    box-shadow: 0 13px 10px -5px;
    padding: 8rem 3rem 8rem 3rem;
    background-color: #051b35;
    margin: 20px auto;
    border-radius: 5px;
}

.videText{
    margin-top: 2%;
}

.siderBack{
    background-color: #051b35;
    min-height: 400px;
}

.reviewMainTitle{
    color: #ffffff;
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700px;
    font-size: 28px;
}

.reviewbottom{
    background: #ffffff none repeat scroll 0 0;
    height: 3px;
    width: 100px;
    margin: -1.9rem auto 0;
    margin-bottom: 3rem;
}

.circleImg{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border: 1px solid #051b35;
    border-radius: 50%;
}

.reviewName{
    color: #ffffff;
    margin-top: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.reviewDescription{
    color: #ffffff;
    margin-top: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.aboutMeImage{
    width: 550px;
    height: 550px;
    background-color: #051b35;
    border-radius: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    float: right;
}

.aboutImg{
    height: 100%;
    margin-top: 210px;
}

.aboutMeBody{
    width: 100%;
    height: 100%;
    padding-left: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10rem;
}

.aboutMeTitle{
    color: #051b35;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.aboutMeDetails{
    color: #051b35;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 28px;
}

.footerSection{
    margin-top: 5rem;
    box-shadow: 0 0 8px 0;
    background-color: #051b35;
}

.footerName{
    color: #ffffff;
    margin-top: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 600;
}